@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

body{
    background: url(../img/starwars_background.jpeg);

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  font-family: 'Kanit', sans-serif;
}
